extends layout

block content
  h1= title
  p Find the shortest path between two Wikipedia pages.
  textarea#task-log
  textarea#result
  script(src='/javascripts/axios.min.js')
  script(src='/javascripts/taskClient.js')
