body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#task-log {
  height: 16em;
  width: 64em;
}

#result {
  height: 16em;
  width: 64em;
}

input[type="text"] {
  margin-bottom: 1em;
  margin-right: 1em;
}
